// src/css/quasar.variables.sass

$primary   : #32325d
$secondary : #f4f5f7
$accent    : #5e72e4

$dark      : #212529
$dark-page : #e5e5e5

$positive  : #2dce89
$negative  : #f5365c
$info      : #11cdef
$warning   : #fb6340
